
@font-face {
    font-family: Source Sans Pro;
    src: url(/fonts/SourceSansPro-Regular.ttf);
}
body{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Source Sans Pro';
}
p{
  margin: 0;
}
*{
  box-sizing: border-box;
}